/* ====== GENERAL STYLES ====== */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #121212;
    color: #e0e0e0;
    margin: 40px auto;
    max-width: 900px;
    line-height: 1.7;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
    font-size: 17px;
    color: #e6e6e6;
}

strong {
    color: #fff;
}

hr {
    border: 0;
    border-top: 1px solid #333;
    margin: 20px 0;
}

/* ====== HEADINGS ====== */
h1 {
    color: #00b4ff;
    text-align: center;
    padding-bottom: 5px;
}

h2{
  font-size: 1.6rem;
  font-weight: 700;
  color: #4fc3f7;   /* softer blue */
  margin-top: 20px;
  margin-bottom: 12px;
}

h3{
  font-size: 1.25rem;
  font-weight: 600;
  color: #81d4fa;  /* slightly lighter blue */
  margin-top: 25px;
  margin-bottom: 8px;
}

/* ====== LISTS ====== */
ul {
    margin-left: 20px;
    padding-left: 10px;
    list-style-position: outside;
}

li {
    margin-bottom: 6px;
}

ol {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

ol ul {
    margin-left: 0;
    padding-left: 20px;
}

/* ====== SPECIAL ELEMENTS ====== */
.highlight {
    color: #00b4ff;
    font-weight: 600;
}

.section {
    background: #141414;
    padding: 8px 22px;
    margin-bottom: 5px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.top-heading {
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.4;
}

.top-heading h2 {
    color: #66d9ff;
    border: none;
    padding: 0;
}

/* ====== IMAGE STYLES ====== */
.img-center {
    display: block;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

/* ====== CODE BLOCK ====== */
.code-block {
    background: #1a1a1a;
    border-left: 4px solid #00b4ff;
    padding: 15px 20px;
    border-radius: 8px;
    font-family: Consolas, monospace;
    color: #e6e6e6;
    overflow-x: auto;
}

a {
    color: #7bdff2; /* your 🩵 color */
}

a:hover {
  color: #38b6ff; /* slightly darker on hover */
}

.diagram {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
}

.jump {
  text-decoration: none;   /* removes underline */
  font-weight: bold;       /* makes text bold */
  font-style: italic;
}

.jump:hover {
  text-decoration: underline; 
  opacity: 0.8;
}

.TOC {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 16px;
}

/* New From Here*/ 

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 20px 0;
}
.nav {
    color: #00aaff;         /* your theme blue */
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.nav:hover {
    text-decoration: underline;
    opacity: 0.9;
}

.title{
    text-align: center;
}

.point{
  color: #e6e6e6;
}